{% extends 'base.html.twig' %}
{% block title %}Toutes Les Recettes{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<h1>{{title}}</h1>

<div style="display : flex ; flex-wrap : wrap ">
 {% for article in articles %}
      <div class="card border-success mb-3" style="width: 20rem; margin:20px; background-color:#e4fef3 !important">
         <img src="{{article.image}}" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">{{ article.titre }}</h5>
            <p class="card-text">Difficulté : {{ article.difficulte }}</p>
            <a href={{ path('recette' , { 'id' : article.id }) }} class="btn btn-primary">Lire la Suite</a>
         </div>
      </div>
{% endfor %} 

{# <div class="card" style="width: 18rem; ">
<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">{Titre Recette}</h5>
<p class="card-text">Difficulté : {difficutlté}</p>
<a href={{ path('recette') }} class="btn btn-primary">Lire la Suite</a>
</div>
</div>

<div class="card" style="width: 18rem;">
<img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">{Titre Recette}</h5>
<p class="card-text">Difficulté : {difficutlté}</p>
<a href={{ path('recette') }} class="btn btn-primary">Lire la Suite</a>
</div>
</div> #}
</div>


{% endblock %}