  {%  extends 'base.html.twig' %}

  {% block body %}
  <h1>{{title}}</h1>

{#   <div style="display : flex ; flex-wrap : wrap ">
 {% for articles in article %}
      <div class="card" style="width: 18rem;">
         <img src="{{article.image}}" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">{{ articles.titre }}</h5>
            <p class="card-text">Difficulté : {{ articles.difficulte }}</p>
            <a href={{ path('recette' , { 'id' : articles.id }) }} class="btn btn-primary">Lire la Suite</a>
         </div>
      </div>
{% endfor %} 
</div> #}
  {% endblock %}


