{% extends 'base.html.twig' %}

{% block body %}

<h1>{{articles.titre}}</h1>
<div class="articles " style="box-shadow: 5px 5px 5px; padding: 15px; background-color:#e4fef3">
<div style="text-align:center">
   <img  src={{articles.image}} alt="">
</div>
<p>publié le {{ articles.createdAt | date('d/m/Y')}}</p>
<h2>{{articles.titre}}</h2>

<p><b>Difficulté : </b>{{articles.difficulte}}</p>
<p><b>Préparation : </b>{{articles.preparation}}</p>
<p><b>Cuisson : </b>{{articles.cuisson}}</p>
<p><b>Ingrédients : </b>{{articles.ingredients | raw}}</p>
<h4>Recette</h4>
<p>{{articles.recette | raw}}</p>

</div>
<br/>
 <span style="margin:20px">
    <a href="{{path('recettes')}}" class="btn btn-primary">Revenir aux articles</a>
 </span>


   <section id="commentaires">
 <h3 style="margin:20px">{{ articles.comments | length }} Commentaire(s) :</h3>
{% for comment in articles.comments %}
      <div class="row">
         <div class="col-2">
            {{comment.author}}
         </div>
         <div class="col-2">(<small class="text-danger">{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
         </div>
         <div class="col-5 text-success">
            {{comment.content | raw}}
         </div>
      </div>
   </section>
{% endfor %}
<br/>
<div style="border: 2px solid rgb(120, 194, 173); margin: 20px"></div>
<br/>
{% if app.user %}
{{ form_start(commentForm)}}
  <div class="my-custom-class-for-errors">
        {{ form_errors(commentForm) }}
    </div>


            {{ form_row(commentForm.content, {'label':'Commentaire'}) }}

{# {{ form_widget(form)}} #}
    <button type="submit" class="btn btn-primary">Ajouter commentaire</button>
    {{ form_end(commentForm)}}
    {% else %}
    <h3>Vous devez être connecté pour ajouter un commentaire</h3>
    {% endif %}
{% endblock %}