{% extends 'base.html.twig' %}

{% block body %}

<h1>{{articles.titre}}</h1>
<div class="articles " style="border: 2px solid black; padding: 15px">
<div style="text-align:center">
   <img  src={{articles.image}} alt="">
</div>
<p>publié le {{ articles.createdAt | date('d/m/Y')}}</p>
<h2>{{articles.titre}}</h2>

<p><b>Difficulté : </b>{{articles.difficulte}}</p>
<p><b>Préparation : </b>{{articles.preparation}}</p>
<p><b>Cuisson : </b>{{articles.cuisson}}</p>
<p><b>Ingrédients : </b>{{articles.ingredients | raw}}</p>
<h4>Recette</h4>
<p>{{articles.recette | raw}}</p>

</div>
<br/>
 <span style="margin:20px">
    <a href="{{path('recettes')}}" class="btn btn-primary">Revenir aux articles</a>
 </span>
{

   <section id="commentaires">
 <h3 style="margin:20px">{{ articles.comments | length }} Commentaire(s) :</h3>
{% for comment in articles.comments %}
      <div class="row">
         <div class="col-3">
            {{comment.author}} (<small class="text-danger">{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
         </div>
         <div class="col text-success">
            {{comment.content | raw}}
         </div>
      </div>   
   </section>
{% endfor %}


{{ form_start(commentForm)}}
  <div class="my-custom-class-for-errors">
        {{ form_errors(commentForm) }}
    </div> 

    
            {{ form_row(commentForm.author, {'label': 'Auteur'}) }}
     
            {{ form_row(commentForm.content, {'label':'Commentaire'}) }}
   
{# {{ form_widget(form)}} #}
    <button type="submit" class="btn btn-primary">Ajouter commentaire</button>
    {{ form_end(commentForm)}}
{% endblock %}