{% extends 'base.html.twig' %}

{% block body %}

<h1>{{articles.titre}}</h1>
<div class="articles " style="border: 2px solid black">
<img src={{articles.image}} alt="">
<p>publié le {{ articles.createdAt | date('d/m/Y')}}</p>
<h2>{{articles.titre}}</h2>

<p><b>Difficulté : </b>{{articles.difficulte}}</p>
<p><b>Préparation : </b>{{articles.preparation}}</p>
<p><b>Cuisson : </b>{{articles.cuisson}}</p>
<p><b>Ingrédients : </b>{{articles.ingredients | raw}}</p>
<h4>Recette</h4>
<p>{{articles.recette | raw}}</p>

</div>

 <a href="{{path('recettes')}}" class="btn btn-primary">Revenir aux articles</a>

{% endblock %}